<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title>XL Spaceship : New Game.</title>
        <script type="text/javascript">
            // we wait till page is loaded
            window.addEventListener("DOMContentLoaded", (event) => {
                const form = document.getElementById("new-game-form");

                form.addEventListener("submit", newGameForm);

                function newGameForm(event) {
                    // prevent page reload
                    event.preventDefault();
                    // send request to backend
                    createNewGameViaAjax(event);
                }
            });

            function createNewGameViaAjax(event) {
                const data = new FormData(event.target);
                const dataObject = Object.fromEntries(data.entries());

                var sp = {}
                sp["hostname"] = data.get("hostname");
                sp["port"] = data.get("port");

                var jsonData = JSON.stringify(sp)

                sendAjaxRequest(jsonData);
            }

            function sendAjaxRequest(jsonData) {
                var httpRequest = new XMLHttpRequest();

                httpRequest.onreadystatechange = function() {
                    if (httpRequest.readyState == XMLHttpRequest.DONE) { // XMLHttpRequest.DONE == 4
                        if (httpRequest.status == 200) {
                            var id = JSON.parse(httpRequest.responseText).game_id;
                            window.location.href = "/gameId/" + id;
                        } else {
                            var jsonError = JSON.parse(httpRequest.responseText);
                            alert(jsonError.error_message); // very crude approach
                        }
                    }
                };

                httpRequest.open("POST", "/xl-spaceship/user/game/new", true);
                httpRequest.setRequestHeader('Content-Type', 'application/json; charset=utf-8');
                httpRequest.send(jsonData);
            }
        </script>
    </head>

    <body>
        <div>
            <h1>XL Spaceship: New Game.</h1>
            <br/>

            <div>
                <table>
                    <tr>
                        <td>Pilot Id</td>
                        <td><input type="text"
                                   th:id="${pilot.userId}"
                                   th:name="${pilot.userId}"
                                   th:value="${pilot.userId}"
                                   readonly="readonly"
                                   disabled="disabled"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Pilot Name</td>
                        <td><input type="text"
                                   th:id="${pilot.fullName}"
                                   th:name="${pilot.fullName}"
                                   th:value="${pilot.fullName}"
                                   readonly="readonly"
                                   disabled="disabled"/>
                        </td>
                    </tr>
                </table>
            </div>

            <br/>
            <br/>
            Remote XL Spaceship instance:
            <br/>
            <div>
                <form id="new-game-form">
                    <table>
                        <tr>
                            <td>Host</td>
                            <td><input id="hostname" name="hostname" type="text" /></td>
                        </tr>
                        <tr>
                            <td>Port</td>
                            <td><input id="port" name="port" type="text" /></td>
                        </tr>
                        <tr>
                            <td>
                                <button type="submit">Create New Game</button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </body>

</html>
